.navbar {
  position: fixed; 
  bottom: 20px; 
  left: 50%; 
  transform: translateX(-50%); 
  background-color: #333333; 
  display: flex; 
  justify-content: space-around; 
  align-items: center; 
  width: 260px; 
  padding: 10px 15px; 
  border-radius: 40px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
}

.icon {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  color: #cccccc; 
  background-color: transparent; 
  width: 38px; 
  height: 38px; 
  border-radius: 50%; 
  transition: all 0.3s ease; 
  cursor: pointer; 
}


.icon:hover {
  color: #ffffff;
  background-color: #555555; 
}

.active {
  background-color: #4a90e2; 
  color: #ffffff; 
  transform: scale(1.1); 
  transition: all 0.2s ease; 
}